{% extends 'partials/navbar.html' %}
{% block content %}
<div class="container container_padding_and_margin mt-3 mb-3 vh-90">
    <div class="user-dashboard-info-box table-responsive mb-3 bg-white p-4 shadow-sm admin-card-borders">

  <div class="row">
    <div class="col-12">

        <h1>
        {% block loginsTitle %}{% endblock  %}
        </h1>

        {% block loginsForm %}{% endblock  %}
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=logins_form %}
            <input type="submit" value="Update logins" class="btn btn-primary mb-5">
        </form>

    </div>
  </div>

  <div class="row">
    <div class="col-12">

        <h1>
        {% block passwordTitle %}{% endblock %}
        </h1>

        {% block passwordForm %}{% endblock %}
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=password_form %}
            <input type="submit" value="Update password" class="btn btn-primary">
        </form>

    </div>
  </div>

  <div class="col text-center">
    {% block doneForm %}{% endblock %}
      {% csrf_token %}
      <input type="submit" value="Done editing" class="btn btn-secondary">
    </form>
  </div>

</div>
{% endblock %}
