<!--Standardized template for any content in a center card -->
{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left:1%;" href='{% url 'home' %}'>MSMS</a>

    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href='{% url 'bookings' %}' >Bookings</a>
    </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% if user.isStudent %}
          <a class="nav-link" href="{% url 'student_invoices' user.id %}">My invoices</a>
        {% else %}
          <a class="nav-link" href="{% url 'students_list' %}">Student invoices</a>
        {% endif %}
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'lesson_page' %}">Lessons</a>
      </li>
    </ul>

    {% if user.isDirector or user.isAdmin %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'terms' %}">Terms</a>
      </li>
    </ul>
    {% endif %}

    {% if user.isDirector %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'admin_accounts' %}">Manage Admins</a>
        </li>
      </ul>
    {% endif %}
    

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="bi-person-circle"style="margin-right:25%;"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
            <li><a class="dropdown-item" href="{% url 'edit_account' 'None' %}">Edit account</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
          </ul>
        </li>
      </ul>

</nav>

{% include 'partials/messages.html' %}


{% block content %}
{% endblock %}

{% endblock %}
