{% extends 'base.html' %}
{% block body %}

<div class="container mt-3 mb-4 d-flex justify-content-center">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
          <div class="col-md-12"> 
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm admin-card-borders">
                
                    <h6 class="card-title mb-3">Create a new account for a</h6>

                    <div class="d-flex flex-row"> 
                        <label class="radio mr-1"> 
                            <input type="radio" name="add" value="admin" checked> 
                            <span> <i class="fa fa-user"></i> Admin </span> 
                        </label> 
                    </div>

                    <div class="d-flex flex-row"> 
                        <label class="radio mr-1"> 
                            <input type="radio" name="add" value="director" checked> 
                            <span> <i class="fa fa-user"></i> Director </span> 
                        </label> 
                    </div>

                    <div class="col text-center">
                        <a class="btn btn-primary" href="/register">Create</a>
                    </div>

                </div>
           </div>
        </div>
    </div>
</div> 

<div class="container mt-3 mb-4 d-flex justify-content-center">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-12"> 
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm admin-card-borders">

                    {% include "partials/admin_accounts_list.html" with admins=admins %}

                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}