{% extends 'partials/edit_account_partial.html' %}

{% block loginsTitle %}Edit admin's login details{% endblock %}

{% block loginsForm %}
<form action="{% url 'edit_admin' 'logins' user_id %}" method="post">
{% endblock  %}

{% block passwordTitle %}Edit admin's password{% endblock %}

{% block passwordForm %}
<form action="{% url 'edit_admin' 'password' user_id %}" method="post">
{% endblock %}

{% block doneForm %}
<form action="{% url 'edit_admin' 'done' user_id %}" method="post">
{% endblock  %}