{% extends 'partials/navbar.html' %}
{% block content %}

<div container class="container_padding_and_margin vh-90">
    <div class="row h-100">
        <div class="col-6 my-auto offset-3">
            <div class="card container_padding_and_margin card_format text-center">

                <h1>
                    Welcome to the MSMS Home Page
                </h1>
                <h3>
                    Instructions of use:
                </h3>
                <h5>
                    To manage bookings, navigate to the bookings tab. There,
                    you can view bookings {%if user.isStudent%}or create new ones{%endif%}
                </h5>

                {% if user.isStudent %}
                <h5>
                    You can also view your invoices by clicking My Invoices
                </h5>
                {% endif %}

                {% if user.isAdmin %}
                <h5>
                    As an admin, you can click student invoices to manage
                    invoices
                </h5>
                {% endif %}

                {% if user.isDirector %}
                <h5>
                    As a director, in addition to managing student invoices,
                    you can click manage admins to
                    add, promote, or delete other admins
                </h5>
                {% endif %}

            </div>

        </div>
    </div>
</div>

{% endblock %}
