{% extends 'partials/navbar.html' %}
{% block content %}

<div container class="container_padding_and_margin vh-90">
    <div class="row h-100">
        <div class="col-6 my-auto offset-3">
            <div class="card container_padding_and_margin card_format text-center">

                <h1>
                    Welcome to the MSMS Home Page
                </h1>
                <h3>
                    Instructions of use:
                </h3>
                <h5>
                    To manage bookings, navigate to the bookings tab. There,
                    you can create new bookings or view existing ones.
                </h5>

            </div>

        </div>
    </div>
</div>


<a href='{% url 'term_time' %}' class="btn mb-2 home_button btn-lg btn-secondary mb=2">Term time</a>
{% endblock %}
