<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
            {{ msg }}
            {% endfor %}
        </ul>
        {% endif %}
        <table>
            <tr>
                <th>Available days</th>
                <th>Availble times</th>
                <th>Number of lessons</th>
                <th>Interval</th>
                <th>Lesson duration</th>
                <th>Learning objectives</th>
                <th>Notes</th>
            </tr>
            {% for user in object_list %}
            <tr>
                <td>{{user.availableDays}}</td>
                <td>{{user.availableTimes}}</td>
                <td>{{user.numberOfLessons}}</td>
                <td>{{user.IntervalBetweenLessons}}</td>
                <td>{{user.DurationOfLesson}}</td>
                <td>{{user.LearningObjectives}}</td>
                <td>{{user.AdditionalNotes}}</td>
            </tr>
            {% endfor %}
        </table>
            
        <p><a href='{%url 'lesson_request' %}' class="btn btn-lg btn-secondary"><button>Request a new lesson</button></a></p>
    </body>
</html>