<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
            {{ msg }}
            {% endfor %}
        </ul>
        {% endif %}
        <table>
            <tr>
                <th>student_id</th>
                <th>Available days</th>
                <th>Availble times</th>
                <th>Number of lessons</th>
                <th>Interval</th>
                <th>Lesson duration</th>
                <th>Learning objectives</th>
                <th>Notes</th>
                <th>Request status</th>
            </tr>
            {% for user in object_list %}
            <tr>
                <td>{{user.student.username}}</td>
                <td>{{user.availableDays}}</td>
                <td>{{user.availableTimes}}</td>
                <td>{{user.numberOfLessons}}</td>
                <td>{{user.IntervalBetweenLessons}}</td>
                <td>{{user.DurationOfLesson}}</td>
                <td>{{user.LearningObjectives}}</td>
                <td>{{user.AdditionalNotes}}</td>
                <td>{{user.Fulfilled}}</td>
                {% if currentUser == True %}
                {% if user.Fulfilled == 'Pending' %}
                <td><a href="{% url 'lesson_request_update' user.id %}">Edit</a></td>
                <td><a href="{% url 'lesson_request_delete' user.id%}">Delete</a></td>
                {% endif %}
                {% endif %}
                {% if currentUser == False %}
                <td><a href="{% url 'lesson_request_update' user.id %}">Edit</a></td>
                <td><a href="{% url 'lesson_request_delete' user.id%}">Delete</a></td>
                {% endif %}
                
            </tr>
            {% endfor %}
        </table>
            
        <p><a href='{%url 'lesson_request' %}' class="btn btn-lg btn-secondary"><button>Request a new lesson</button></a></p>
    </body>
</html>