{% extends 'partials/center_card.html' %}
{% block content %}

<h1 class = "main_title mt-2">MSMS</h1>
<p class = "home_description">Learn to play an instrument!</p>
<p>
    <a href='{% url 'log_in' %}' class="btn btn-lg btn-primary">
        Log in
    </a>
</p>

<p>
    <a href  = '{% url 'register' %}' class="btn btn-lg btn-primary">
        Register as a student
    </a>
</p>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
{% endblock %}
