{% extends 'partials/navbar.html' %}
{% block content %}
<div class="container mt-3 mb-4 d-flex justify-content-center">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row justify-content-center">
          <div class="col-md-6"> 
                    <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm admin-card-borders">

                        <div class="d-flex justify-content-between mb-2">
                            <h3 class="textmuted admin-user-colour">Invoice total</h3>
                            <h4 class="fs-14 fw-bold">£{{invoice.price}}</h4>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <h3 class="textmuted admin-user-colour">Unpaid amount</h3>
                            <h4 class="fs-14 fw-bold text-danger">£{{invoice.unpaid}}</h4>
                        </div>

                        <div class="d-flex justify-content-center mb-2">
                            <form action="{% url 'pay_invoice' invoice.reference %}" method="post">
                                {% csrf_token %}
                                <input type="number" step=".01" name="paid" min="1" placeholder="Amount paid">
                                <input type="submit" value="Record" class="btn btn-primary">
                            </form>
                        </div>

                        <div class="col text-center">
                            <a href="{% url 'student_invoices' invoice.student.id %}" class="btn btn-secondary">
                                Go back
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}