{% extends 'partials/navbar.html' %}
{% block content %}

<div class="container container_padding_and_margin mt-3 mb-3 vh-90">
    <div class="user-dashboard-info-box table-responsive mb-3 bg-white p-4 shadow-sm admin-card-borders">

    <h2>Welcome to list of term times</h2>

    <div class="bookings_table add_bottom_margin">
        <table class="table table-striped">
            <tr>
                <th>Term</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Mid term date</th>
                <th>Action</th>
            </tr>
            {% for term in object_list %}
            <tr>
                <td>{{term.termOrder}}</td>
                <td>{{term.startDate}}</td>
                <td>{{term.endDate}}</td>
                <td>{{term.midTerm}}</td>
                {% if user.isStudent == False %}
                     <td><a href="{% url 'term_time_update' term.id %}">Edit</a></td>
                {% endif %}
            </tr>
            
            {% endfor %}
        </table>

</div>
</div>



    {% if count < 2 %}
    {% if user.isStudent == False %}

        <div class="user-dashboard-info-box table-responsive mb-3 bg-white p-4 shadow-sm admin-card-borders">
    
            <h2> Create a new term</h2>
    <a href='{%url 'term_create' %}' class="btn btn-lg btn-secondary mb=2">Create</a>


         </div>
    </div>
    {% endif %}
    {% endif %}



{% endblock %}